.glassBackground {
    background: rgba(26, 26, 26, 30%);
    border-radius: 2rem;
    padding: 3rem;
}

.gradientBackground {
    background: linear-gradient(
                    -45deg,
                    #4b0082,
                    #6a0dad,
                    #8a2be2,
                    #b57edc,
                    #e73c7e,
                    #ff69b4
    );
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2rem;
    padding: 3rem 0;
}

@keyframes gradient {
    0% {
        background-position: 50% 50%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 50% 50%;
    }
}
