.mainBackground {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(
                    -45deg,
                    #4b0082,
                    #6a0dad,
                    #8a2be2,
                    #b57edc,
                    #e73c7e,
                    #ff69b4
    );
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
    0% {
        background-position: 50% 50%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 50% 50%;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: white;
}

h3 {
    color: white;
    font-size: 2rem;
}

main {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.techStackWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}