.runQuery{
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    font-size: 14px;
    border-width: 0;
    gap: 8px;
    background: rgba(232, 22, 148, 255);
    color: white;
    border-radius: 4rem;
}